.hobby-div{
    width: 100%;
    .hobby-item{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 10%;
        height: 60%;
    }
    .dark{
        background-color: black;
    }                    
}

@media only screen and (max-width: 480px){
    .hobby-div .card-text{
        font-size: 3vw;
    }
}