.skill-item{
    margin: 10%;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    .skill-logo{
        // max-width: 160px;
        // min-height: 175px;
        width: 40% ;
        height: 45%;
        border: none;
        padding-bottom: 20px;
    }
    .skill-title{
        text-decoration: none !important;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 480px){
    .skill-item .skill-title{
        font-size: 4vw;
    }
    .skill-item .skill-logo{
        width: 50%;
        height: 55%;
    }
}


