.review-item{
    display : flex;
    flex-direction: column;
    justify-content: left;
    border-top-width: 3px;
   i{
        font-size: 25px;
    }
    p{
        justify-content: right;
        font-size: 15px;
    }
}