.education-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    span{
        display: inline;
        font-size: 3vw;
        margin: 0 10%;
    }

    .edu{
        margin: 5% 0;
    }

    .edu-heading{
        font-size: 5vw;
    }

    
    // div{
    //     font-size: 30px;
    // }
}


