
.about-page{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    font-family: Raleway;
    // background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;

    .container-fluid{
        padding: 0;
    }

    .contact-link{
        display: none;
        padding-left: 0;
        position: absolute;
        top: 0;
        overflow: hidden;
    }

    
    .about-nav{
        padding: 0 50%;
        position: relative;
        bottom: 0;
        font-size: 20px;
        display: flex;
        flex-direction: row !important;
        color: black;
        justify-content: center;
        hr{
            border: 1px solid;
            height: 1px;
            background: #333;
            margin-bottom: 100px;
            background-image: linear-gradient(to right, white, #333, black);   
        }

    }

    .first-row{
        // height: 30%;
        height: 10%;
        margin: 0;
        margin-top: 2%;
        padding: 0 15%;
        justify-content: center;
    }

    .second-row{
        position: relative;
        top: 5%;
        margin: 0;
        height: 50%;
        width: 100%;
        height: 80vh;
        justify-content: space-between;
    }
    
    .container{
        position: relative;
    }
    
    .page{
        padding-right: 5%;
        position: absolute;
        margin-top: 5vw;
    }

    .page-enter{
        opacity: 0;
        transform: scale(1.1);
    }

    .page-enter-active{
        opacity: 1;
        transform: scale(1);
        transition: opacity 300ms, transform 300ms;
    }

    .page-exit{
        opacity: 1;
        transform: scale(0.9);
    }
    
    .page-exit-active{
        opacity: 0;
        transform: scale(1);
        transition: opacity 300ms, transform 300ms;
    }
    

    .about-heading{
        font-size : 6vw;
    }
    .about-text{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 415px){
    .about-page{
        width: 100vw;
    }
    .about-page .about-nav{
        padding: 0 10%;
        font-size: 4vw; 
    }
    .about-page .about-text{
        font-size : 4vw
    }
    .about-page .first-row{
        height: 5%;
        margin: 0;
        padding: 0 15%;
        top: 20%;
        justify-content: center;
    }
    .about-page .details-container{
        width: 100%;
        height: 100%;
    }
}