
.about-page{
    height: 100%;
    width: 100%;
    // overflow: hidden;
    font-family: Raleway;
    // background-image: url('../../images/particles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    // background: #36D1DC;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // display: flex;
    // flex-direction: row;


    .contact-link{
        padding-left: 0;
        padding-top: 30px;
        overflow: hidden;
    }

    hr{
        border: 0;
        height: 1px;
        background: #333;
        margin-bottom: 100px;
        background-image: linear-gradient(to right, #5B86E5, #333, #36D1DC);   
    }

    .about-nav{
        padding: 0;
       font-size: 20px;
       display: flex;
       flex-direction: column !important;
       color: black;
       justify-content: center;

    }

    .first-row{
        height: 100%;
    }
    
    .container{
        position: relative;
    }
    
    .page{
        padding: 0 50px;
        position: absolute;
        margin-top: 5vw;
    }

    .page-enter{
        opacity: 0;
        transform: scale(1.1);
    }

    .page-enter-active{
        opacity: 1;
        transform: scale(1);
        transition: opacity 300ms, transform 300ms;
    }

    .page-exit{
        opacity: 1;
        transform: scale(0.9);
    }
    
    .page-exit-active{
        opacity: 0;
        transform: scale(1);
        transition: opacity 300ms, transform 300ms;
    }
    
    .heading{
        font-size: 50px;
        margin-bottom: 25px;
    }
    
    span{
        font-size : 23px;
    }

    // .vertical-nav{
    //     padding-left: 2vw;
    //     margin-top: 5vw;
    //     border-right: 1px ;
        
    // }

    // .body-container{
    //     padding-top: 60px;
    //     margin: 0 auto;
    //     display: flex;
    //     flex-direction: column;
    // }


}

// .vertical-nav{

// }