.about-page{
    font-family: Raleway;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // display: flex;
    // flex-direction: row;

    .heading-text{
        margin-top: 5vw;
    }

    hr{
        border: 0;
        height: 1px;
        background: #333;
        margin-bottom: 100px;
        background-image: linear-gradient(to right, #5B86E5, #333, #36D1DC);   
    }

    .about-nav{
       padding-top: 10px; 
       font-size: 20px;
       display: flex;
       justify-content: center;
    }

    

    .skills{
        margin-top: 60px;
    }
    
    .heading{
        font-size: 50px;
        margin-bottom: 25px;
    }
    
    span{
        font-size : 23px;
    }

    // .vertical-nav{
    //     padding-left: 2vw;
    //     margin-top: 5vw;
    //     border-right: 1px ;
        
    // }

    // .body-container{
    //     padding-top: 60px;
    //     margin: 0 auto;
    //     display: flex;
    //     flex-direction: column;
    // }


}

// .vertical-nav{

// }