.gallery-page{
    h1{
        font-family: Raleway;
        font-size: 6vw;
    }
    .carousel{
        width: 70vw;
        height: 80vh;
        margin : auto;
    }
    .carousel-images{
        width : 70vw;
        height: 80vh;
    }
}