.gallery-page{
    h1{
        font-family: Raleway;
        font-size: 6vw;
    }
    .carousel{
        width: 70vw;
        height: 80vh;
        margin : auto;
    }
    .carousel-images{
        width : 70vw;
        height: 80vh;
    }

    img{
        height: 100%;
    }
}

@media only screen and (max-width: 480px){
    .gallery-page .carousel{
        height: 60vw;
        width: 80vw;
    }

    .gallery-page .carousel-images{
        height: 60vw;
        width: 80vw;
    }
}