.review-list{
    cursor: default;
    .review-list-item{
        transition: transform 0.4s;
        margin: 20px 0;
        background: transparent;
        &:hover{
            transform : scale(1.1);
        }
    }
}

.review-list .review-list-item .dark{
    border-color: white;
}
// @media only screen and (max-width: 415px){
//     .review-list .review-list-item .dark{
//         background-color: black;
//     }
// }