.gallery-collection{
    margin: 0;
    margin-top: 20px;


    .carousel{
        width: 70vw;
        margin : auto;
    }
    .carousel-images{
        width : 70vw;
        height: 85vh;
    }
    
    .image-col-img{
        padding: 4px;
    }

    .images{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        // position: relative;
        margin-top: 100px;
        .image-col{
            float: left;
        }
    }
   
}