.navbar-custom{
    font-family: 'Raleway', sans-serif;
    background: transparent !important;
    height:40px;
    a{
        span{
            color: #000;
        }
        
        &:hover{
            text-decoration : none;
        }
    }

}

.navbar.scrolled{
    background: black!important;
    transition: 500ms ease
}