#main-nav{
    font-family: 'Raleway', sans-serif;
    // background: transparent !important;
        // background-color: black;
        color : white;
        height:40px;
        padding: 0;
        a{
            span{
                color: #000;
            }
            
            &:hover{
                text-decoration : none;
            }
        }
    }
    
    .contact-btns{
        background: transparent;
        height: 10px;
    }
    #btn-nav{
        color: inherit;
        margin: 7%;
    }

    
    .contact-btns .dark{
        color: white;
    }
    
