html, body, #app, #app>div {
  height: 100%;
  overflow-x: hidden;
}



body.light-mode {
  background-image:url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-repeat: no-repeat;  
  background-size: cover;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  /* background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #dfdfdf;
}
.App {
  text-align: center;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}


/* .navbar-inner{
  background : transparent;
} */
/* 
 *{
  box-sizing: border-box;
} */

.all-data{
  height: 100%;
  position: relative;
} 

.page{
  height: 100%;
}

.page-enter{
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active{
  opacity: 1;
  transition : opacity 300ms, transform 600ms ease;
}

.page-exit{
  opacity: 1;
  transform : scale(0.9);
}

.page-exit-active{
  opacity: 0;
  transition: opacity 300ms, transform 600ms ease;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media only screen and (max-width: 450px){
  .App{
    width: 100%;
    overflow-x: hidden;
  }
}
